<%- include("partials/header.ejs") %>

<div class="container py-5">
  <h2>Edit Post</h2>
  <form action="/editPost" method="POST">
    <input type="hidden" name="id" value="<%= id %>">

    <div>
      <label for="title">Title</label><br>
      <input type="text" name="title" value="<%= post.title %>" required style="width:100%; height:50px;">
    </div>

    <div>
      <label for="author">Author</label><br>
      <input type="text" name="author" value="<%= post.author %>" required style="width:100%; height:50px;">
    </div>

    <div>
      <label for="postBody">Post</label><br>
      <textarea name="postBody" required style="width:100%; height:150px;"><%= post.postBody %></textarea>
    </div>

    <button type="submit">Update Post</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
